<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover' charset='utf-8'>
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <base href="/">
    {{#each htmlWebpackPlugin.options.cdnResources.css}}
      <link
        rel="stylesheet"
        href="{{ this.href }}"
        integrity="{{ this.integrity }}"
        crossorigin="{{ this.crossorigin }}"
        media="none"
        onload="this.media = 'all'"
      >
    {{/each}}
    {{#each htmlWebpackPlugin.options.cdnResources.js}}
      <script
        src="{{ this.src }}"
        integrity="{{this.integrity }}"
        crossorigin="{{ this.crossorigin }}"
      ></script>
    {{/each}}
    <style>
      :root {
        --primary: #8884d8;
        --secondary: #82ca9c;
        --mdc-theme-primary: var(--primary);
        --mdc-theme-secondary: var(--secondary);
      }
      body { margin: 0; }
    </style>
</head>

<body>
  <div id='home'></div>
</body>
</html>